body{
  text-align:center ;
  margin-top:275px;
  background:#cccccc;
}
.btn{
  background:#0467ff;
  color:#ffffff;
  padding: 10px 25px;
  border: none;
  border-radius: 3px;
  text-decoration: none;
}
.btn:hover{
  background:#000000;
}
